<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Django Calculator</title>
</head>
<body>
<div class="container">
    <div>
    <form class="form-row" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ answer }}" id="first_value" name="first_value" value="{{ answer }}">
            <select class="form-control" id="operator" name="operator">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
           <input type="text" class="form-control" placeholder="Second Number" id="second_value" name="second_value">
        </div>
        <button type="submit" class="btn btn-default">Calculate</button>
    </form>
    </div>
    <br>
    <div><h2> Answer: {{ answer }} </h2></div>

</div>
</body>
</html>